<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.khaddonirapottaovoktaodhikar">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Ovijog"></activity>
        <activity
            android:name=".LikhitoOvijog.LikhitoOvijog"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ViewActiviy.ViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DeveloperInfo" />
        <activity
            android:name=".vokta_odhikar"
            android:label="@string/vokta_button_text"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Khaddo_nirapotta"
            android:label="@string/kNirapotta_button_text"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>